.card {
    background-color: #ffffffc9;
    color: white;
    padding: 10px;
    margin: 10px;
    font-family: Arial;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    height: auto;
    width: 80%;
    display: flexbox;
    align-items: center;
    justify-content: space-around;
}

.text {
    color: black;
}