label {
    text-align: left;
    padding: 0.25rem 0;
    border-top-left-radius: 5px;
    margin-top: 5px;
}

input {
    /* margin: 0.5rem 0; */
    padding: 0.5rem;
}

button {
    background-color:rgb(1, 12, 4);
    padding : 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

