.App {
  /* text-align: center;
  display: flex;
  min-height: 100vh;
  align-items:first baseline;
  justify-content:left;
  color: rgb(0, 0, 0); */
  background-image: url(op-image.jpg);
  text-align: center;
}

.App-header{
  text-align: center;
  display: flex;
  min-height: 10vh;
  align-items:first baseline;
  justify-content: center;
}

/* .App-card{
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items:first baseline;
  justify-content:left;
} */

.auth-form-conteiner, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(88, 30, 30);
}

.auth-form-conteiner {
  padding: 5rem;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
  margin: 0.5rem;
  height: auto;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border:rgb(0, 0, 0);
  border-radius: 10px;
}

button {
  border: none;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.link-btn {
  background: none;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.initial-btn{
  background-color: rgb(101, 25, 25);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 15px;
  margin: 5px;
}

a {
  padding: 5px;
  font-size: 10px;
  color: red;
}